@{
    ViewData["Title"] = "User";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
        <h2 class="display-9 fw-bold">Welcome User : @User.Identity?.Name</h2>
    </div>
</div>