@{
    ViewData["Title"] = "Queue";
}

<div class="text-center" style="margin-top: 100px;">
    <form asp-action="TakeQueue" method="post">
        <button type="submit" class="btn btn-primary" style="width: 300px; height: 150px; font-size: 40px; border-radius: 20px;">
            รับบัตรคิว
        </button>
    </form>
    
    <div class="mt-5">
        <a asp-action="Reset" class="btn btn-secondary px-5">ล้างคิว</a>
    </div>
</div>